@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
html, body {
  height: 100%;
  background: #F5F5F7;
  color: #1C1C1E;
}