version: '3.7'

services:
  invoice-ninja-app:
    image: invoiceninja/invoiceninja:5
    container_name: invoice-ninja-app
    environment:
      - APP_URL=http://localhost:8082
      - APP_KEY=base64:O1S3kAJEDgo92gPkXtxZj6lH5Z1ztHp3+K2LunzKQqU=
      - APP_ENV=production
      - APP_DEBUG=false
      - REQUIRE_HTTPS=false
      - DB_HOST=invoice-ninja-db
      - DB_PORT=3306
      - DB_DATABASE=invoiceninja
      - DB_USERNAME=invoiceninja
      - DB_PASSWORD=invoiceninja_secure_password
      - TRUSTED_PROXIES=*
      - MULTI_DB_ENABLED=false
    volumes:
      - invoice-public:/var/www/app/public
      - invoice-storage:/var/www/app/storage
    depends_on:
      - invoice-ninja-db
    networks:
      - invoice-ninja-network

  invoice-ninja-db:
    image: mariadb:10
    container_name: invoice-ninja-db
    environment:
      - MYSQL_ROOT_PASSWORD=root_secure_password
      - MYSQL_DATABASE=invoiceninja
      - MYSQL_USER=invoiceninja
      - MYSQL_PASSWORD=invoiceninja_secure_password
    volumes:
      - invoice-db-data:/var/lib/mysql
    networks:
      - invoice-ninja-network

  invoice-ninja-nginx:
    image: nginx:1
    container_name: invoice-ninja-nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/in-vhost.conf:ro
      - invoice-public:/var/www/app/public:ro
    ports:
      - "8082:80"
    depends_on:
      - invoice-ninja-app
    networks:
      - invoice-ninja-network

volumes:
  invoice-public:
  invoice-storage:
  invoice-db-data:

networks:
  invoice-ninja-network: